{{>header}}
<div class="container home some">
    <img class="det-img" src="{{image}}" />
    <div class="desc">
        <h2 class="display-5">{{title}}</h2>
        <p class="infoType">Description:</p>
        <p class="idea-description">{{description}}</p>
        <p class="infoType">Likes: <large>{{likes}}</large>
        </p>
        <p class="infoType">Comments:</p>
        <ul>
            {{#each comments}}
            <li class="comment">{{user}}: {{text}}</li>
            {{else}}
            <li class="comment">No comments yet :(</li>
            {{/each}}
        </ul>
    </div>
    {{#if isCreator}}
    <div class="text-center">
        <a class="btn detb edit-btn" href="#/idea/edit/{{objectId}}">Edit</a>
        <a class="btn detb del-btn" href="#/idea/delete/{{objectId}}">Delete</a>
    </div>
    {{else}}
    <form class="text-center" method="POST" action="#/idea/comment/{{objectId}}">
        <textarea class="textarea-det" name="newComment" id=""></textarea>
        <button type="submit" class="btn detb com-btn">Comment</button>
        <a class="btn detb like-btn" href="#/idea/like/{{objectId}}">Like</a>
    </form>
    {{/if}}
</div>
{{>footer}}