{{>header}}
{{#unless userId}}
{{>login}}
{{else}}
<div class="content">
    <section class="js">
        <h2>JavaScript</h2>
        <div class="articles">
            {{#each javaScriptArticles}}
            {{>article}}
            {{else}}
            {{>noArticles}}
            {{/each}}
        </div>
    </section>
    <section class="CSharp">
        <h2>C#</h2>
        <div class="articles">
            {{#each cSharpArticles}}
            {{>article}}
            {{else}}
            {{>noArticles}}
            {{/each}}
        </div>
    </section>
    <section class="Java">
        <h2>Java</h2>
        <div class="articles">
            {{#each javaArticles}}
            {{>article}}
            {{else}}
            {{>noArticles}}
            {{/each}}
        </div>
    </section>
    <section class="Pyton">
        <h2>Pyton</h2>
        <div class="articles">
            {{#each pytonArticles}}
            {{>article}}
            {{else}}
            {{>noArticles}}
            {{/each}}
        </div>
    </section>
</div>
{{/unless}}
{{>footer}}